<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.delirium.words">

    <application
            android:name=".WordIntentApplication"
            android:allowBackup="true"
            android:icon="@mipmap/puzzle"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/puzzle_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Words">
        <activity android:name=".study.StudyWord">
        </activity>
        <activity android:name=".listNewWords.WordViewActivity">
        </activity>
        <activity android:name=".listUserWords.UserWordViewActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>